<div class="row">
  <div class="col-12 col-md-8">
    <h2>Login</h2>
    <form (ngSubmit)="onLoginSubmit(evt)">
      <div role="alert" *ngIf="formErrors" class="alert alert-danger"> {{formError}} </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
  </div>
</div>